# Xojo (formerly REALbasic and Real Studio)

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete*

# macOS
.DS_Store

# IDE
.idea/

# iOS app lives in its own repo: github.com/stam66/echo_indications_ios
echo_indications_ios/
